<section class="featured-blog mtb-40">
  <div class="container">
    <div class="row">
      <h2 class="title-heading">Latest Articles</h2>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img1.jpeg" alt="blog1" />
          <h3>AngularJS development services</h3>
          <p>by <span>Mir Ijazur Rahaman</span></p>
          <p>
            A structured JavaScript framework, AngularJS is crafted and handled
            by Google. It is the best way to enhance the traits of HTML with the
            Directives and joins data to HTML with the Expressions. Our clients
            are also offered the benefits of a Framework that is highly
            readable, extensible, and spontaneous apps that are crafted by our
            expert developers.
          </p>
          <a href="#" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img2.png" alt="blog1" />
          <h3>Transpilation in Angular</h3>
          <p>by <span>Mir Ijazur Rahaman</span></p>
          <p>
            Transpilation = translate + compilation The Angular compiler
            translates the html template to super optimized JavaScript code. The
            typescript compiler compiles typescript code into JavaScript. Also
            Read: Difference between JavaScript and TypeScript: JavaScript vs
            Typescript Transpiling..
          </p>
          <a href="#" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img3.jpeg" alt="post1" />
          <h3>Difference between JavaScript and TypeScript</h3>
          <p>by <span>Mir Ijazur Rahaman</span></p>
          <p>
            What is JavaScript? JavaScript is an object-based scripting
            language. JavaScript is the most popular programming language of
            HTML. It helps you to create interactive web pages which is
            lightweight and cross-platform. JavaScript is not designed for..
          </p>
          <a href="detail.html" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img4.jpg" alt="post2" />
          <h3>How to use cookies in angular</h3>
          <p>by <span>Mir Ijazur Rahaman</span></p>
          <p>
            What is Cookies in Angular? Cookies are small packages of
            information that can be temporarily stored/saved by your browser and
            websites which are using cookies for multiple things. Cookies are
            used in multiple requests and browser sessions and can store..
          </p>
          <a href="detail.html" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img5.jpeg" alt="post3" />
          <h3>
            How to Get Current Visitor Location using HTML5 Geolocation API
          </h3>
          <p>by <span>Mir Ijazur Rahaman</span></p>
          <p>
            This feature Get Current Visitor Location helps to provide the
            website visitor with a better browsing experience. For instance, you
            can return search results which are close to the location of the
            user..
          </p>
          <a href="detail.html" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img6.jpeg" alt="post4" />
          <h3>What is MERN Stack?</h3>
          <p>by <span>Mir Ijazur Rahaman</span></p>
          <p>
            In the world of software development, MERN Stack is one of the most
            widely used technological stacks and a web development framework. we
            can create simple as well complex web applications using MERN
            (MongoDB, ExpressJS, ReactJS, and NodeJS)...
          </p>
          <a href="detail.html" class="btn btn-primary">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</section>
