<section class="blog-detail mtb-40">
  <div class="container">
    <div *ngIf="isLoading" style="text-align: center" class="loading-text">
      <app-spinner></app-spinner>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="blog-left">
          <h1>Create Article</h1>

          <div class="blog-desc">
            <!--Section: Contact v.2-->
            <section class="mb-4">
              <!--Section description-->
              <p class="text-center w-responsive mx-auto mb-5">
                Do you have any questions? Please do not hesitate to contact us
                directly. Our team will come back to you within a matter of
                hours to help you.
              </p>

              <div class="row">
                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                  <form id="contact-form" [formGroup]="form" (submit)="onSavePost()">
                    <!--Grid row-->
                    <div class="row">
                      <!--Grid column-->
                      <div class="col-md-12">
                        <div class="md-form mb-0">
                          <input type="text" class="form-control" formControlName="title" />
                          <label for="name" class="">Article Title</label>

                        </div>
                      </div>
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="md-form mb-0">
                          <input type="text" formControlName="image" class="form-control" />
                          <label for="subject" class="">Image</label>
                        </div>
                      </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">
                      <!--Grid column-->
                      <div class="col-md-12">
                        <div class="md-form">
                          <textarea type="text" rows="2" class="form-control md-textarea"
                            formControlName="body"></textarea>
                          <label for="message">Your message</label>

                        </div>
                      </div>
                    </div>
                    <!--Grid row-->
                    <div class="text-center text-md-left">
                      <button class="btn btn-primary" [disabled]="form.invalid" type="submit">
                        Save Article
                      </button>
                    </div>
                  </form>
                  <div class="status"></div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 text-center">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <i class="fas fa-map-marker-alt fa-2x"></i>
                      <p>Kolkata , India-700025</p>
                    </li>

                    <li>
                      <i class="fas fa-phone mt-4 fa-2x"></i>
                      <p>+91-9681224048</p>
                    </li>

                    <li>
                      <i class="fas fa-envelope mt-4 fa-2x"></i>
                      <p>debasish.sahoo96@gmail.com</p>
                    </li>
                  </ul>
                </div>
                <!--Grid column-->
              </div>
            </section>
            <!--Section: Contact v.2-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>