<section class="blog-detail mtb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-left">
                    <h1>About Us</h1>

                    <div class="detail-img">
                        <img src="assets/images/img1.jpeg" alt="blog1">
                    </div>
                    <div class="blog-desc">
                        <p>The Angular announcement bar is an excellent way to promote a special discount offer, a sale,
                            or another type of promotion at the top of your Angular store. And there’s no need to pay a
                            monthly fee for this feature. Simply paste a few lines of code into your theme and you’re
                            done.

                        </p>
                        <p> This free Angular announcement bar also allows you to display an optional “free shipping
                            countdown,” so customers can always see how close they are to receiving free shipping.

                        </p>
                        <p>Now these days eCommerce websites have many announcement. So they need to notify user about
                            announcements. Like: –
                        </p>
                        <ul>
                            <li>Highlight a recently released product</li>
                            <li>Advertise a special or promotion</li>
                            <li>Weather delay or holiday hours</li>
                            <li>Promote upcoming new products</li>
                            <li>Offer a free giveaway or download</li>
                            <li>Share news about a recent award or certification</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
