<div class="widget right-widget categories">
    <h3 class="widget-title">Popular Categories</h3>
    <ul>
        <li><a href="#">Angular 7</a></li>
        <li><a href="#">Python</a></li>
        <li><a href="#">MVC 4</a></li>
        <li><a href="#">Angular Material</a></li>
        <li><a href="#">SQL Server</a></li>
        <li><a href="#">Entity Framework</a></li>
        <li><a href="#">ASP.Net</a></li>
        <li><a href="#">CSS 3</a></li>
        <li><a href="#">TypeScript</a></li>
        <li><a href="#">Java</a></li>
    </ul>
</div>