<div class="widget right-widget recent-post">
    <h4 class="widget-title">Featured Posts</h4>
    <a href="/article/1">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img1.jpeg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>AngularJS development services</h5>
                <p>by <span>Debasish Sahoo</span></p>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
    <a href="/article/2">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img2.png" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Transpilation in Angular</h5>
                <p>by <span>Debasish Sahoo</span></p>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
    <a href="/article/3">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img3.jpeg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Difference between JavaScript and TypeScript</h5>
                <p>by <span>Debasish Sahoo</span></p>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
    <a href="/article/4">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img4.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>How to use cookies in angular</h5>
                <p>by <span>Debasish Sahoo</span></p>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
    <a href="/article/5">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img5.jpeg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>How to Get Current Visitor Location using HTML5 Geolocation API</h5>
                <p>by <span>Debasish Sahoo</span></p>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
</div>

